#title {
	background-color: #f79e9e;
	color: #fff;
}
body {
	font-family: Montserrat;
}
.nav-item {
	padding: 0 15px;
}
.pro {
	width: 400px;
	margin-left: 70px;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	margin-left: 170px;
	margin-top: 100px;
	font-weight: bold;
}
h2 {
	font-family: 'Montserrat';
}
h3 {
	font-weight: bold;
}
.navbar-brand {
	font-weight: bold;
	font-size: 2rem;
}
.nav-link {
	font-size: 1.3rem;
}
a {
	font-size: 19px;
}
.container-fluid {
	padding: 1.8% 10%;
}
button {
	margin-left: 205px;
	margin-top: 30px;
	width: 120px;
	height: 50px;
}
#features{
	padding: 5.2% 15%;
	text-align: center;
}

.icon {
	color: #B482C9;
	margin-bottom: 1rem;
}
.icon:hover {
	color: #f79e9e;
}
#carousel {
	background-color: #B482C9;
	padding: 7% 15%;
	text-align: center;
	color: #fff;
}
.man {
	width: 15%;
	border-radius: 30%;
	margin: 10px;
}
